body {
    background-color: white;
    font-family: "Bebas Neue", sans-serif;
    color: darkslategray;
    text-align: center;
}

/* --------- Heading */

.game-name{
    font-size: 4rem;
}

/* --------- Game layout */

.round-number{
    font-size: 2rem;
}

.container {
    background-color: #E6ECF0;
    display: inline-block;
    width:80%;
    height: 18vw;
    margin-bottom: 20px;
}

.column1 {
    width:33.33333333%;
    float:left;
}

.column2 {
    width:33.33333333%;
    float:left;
    margin-top: 2.5%;
}

.column3 {
    width:33.33333333%;
    float:left;
}

.user-answer-circle{
    height: 15vw;
    width: 15vw;
    display: inline-block;
    border: darkslategray 10px solid;
    border-radius: 50%;
    position: relative;
    
    
}

.user-answer{
    font-size: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.computer-answer-circle{
    height: 15vw;
    width: 15vw;
    display: inline-block;
    border: darkslategray 10px solid;
    border-radius: 50%;
    position: relative;
    
}

.computer-answer{
    font-size: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
}

.controls-area {
    background-color: #E6ECF0;
    width: 80%;
    height: 12vw;
    margin: 0 auto;
}

.win {
    color: green;
    font-size: 1.5rem;
}

.lose {
    color: red;
    font-size: 1.5rem;
}

.draw {
    color: darkslategray;
    font-size: 1.5rem;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after{
    content: attr(data-type);
    font-size: 1.5rem;
    color: darkslategray;
    position: relative;
    left: -0.5em;
}

.btn--gray {
    border-color: darkslategray;
    color: darkslategray;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: darkslategray;
    color: white;
}

button{
    font-size: 3rem;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .btn--gray {
        margin-top: 0;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
   

}