body {
    background-color: white;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    color: #686868;
    text-align: center;
}

/* --------- Heading */

.game-name{
    margin-top: 25px;
    font-size: 2.75rem;
    letter-spacing: 5px;
}

/* --------- Game layout */

.round-number{
    font-size: 1.5rem;
}

.container {
    display: inline-block;
    width:80%;
    height: 250px;
}

.column1 {
    width:33.33333333%;
    float:left;
    margin-top: -25px;
}

.column2 {
    width:33.33333333%;
    float:left;
    margin-top: 25px;
}

.column3 {
    width:33.33333333%;
    float:left;
    margin-top: -25px;

}

.scoreboard {
    margin-top: 40px;
}

.user-answer-circle{

    
    width: 100px;
    height: 100px;
    font-size: 6rem;
    margin: 30px 30px;
    transition: all 0.5s;
    height: 180px;
    width: 180px;
    display: inline-block;
    border: #686868 10px solid;
    border-radius: 50%;
    position: relative;   
    
}

#user-answer{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.computer-answer-circle{
    width: 100px;
    height: 100px;
    font-size: 6rem;
    margin: 30px 30px;
    transition: all 0.5s;
    height: 180px;
    width: 180px;
    display: inline-block;
    border: #686868 10px solid;
    border-radius: 50%;
    position: relative;
}

#computer-answer{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.controls-area {
    width: 80%;
    height: 150px;
    margin: 0 auto;
}

.controls-area img {
    width: 90%;
    height: 90%;
}

.win {
    color: #3EA62D;
    font-size: 1.25rem;
}

.lose {
    color: #FF0000;
    font-size: 1.25rem;
}

.draw {
    color: #000000;
    font-size: 1.25rem;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 7.5px solid;
    width: 150px;
    height: 150px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after{
    content: attr(data-type);
    font-size: 1.25rem;
    color: #686868;
}

.btn--gray {
    border-color: #686868;
    color: #686868;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #686868;
    color: white;
}

button{
    font-size: 1.25rem;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .btn--gray {
        margin-top: 0;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
   

}